.centered-image {
  margin: auto;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.color p {
  background-color: blanchedalmond;
}

h1 {
  font-style: italic;
  color: blue;

}

body {
  background-color: white;
}